html {background-color: #f9f9f9;
        }

#intro {
    
    max-width: 800px;
    text-align: justify;
    border: solid rgb(70, 70, 70) 10px;
    border-radius: 50px;
    padding: 30px 30px;
    background-color: darkgrey;
    position: relative;
    top: 100px;
    margin-left: 10%;
    margin-right: 10%;
        }

#menu {
    width: 100%;
    background-color: rgba(151, 151, 151, 0.658);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}

button {height: 50px;
        margin: 5px;
        width: 100px;
    }